<h1>#<%= @blog.id %>   <%= @blog.title %></h1>
<p><%= @blog.content %></p>

<ul>
  <li><%= link_to "Edit", edit_blog_path(@blog) %></li>
  <li>
    <%= link_to "Destroy", blog_path(@blog), method: "delete", data: { confirm: "Are you sure?", disable_with: "Processing..." } %>
  </li>
</ul>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>---</strong>
    <%= comment.content %>
  </p>
  <p>
    <%= link_to "Destroy Comment", [comment.blog, comment], method: "delete", data: { confirm: "Are you sure?", disable_with: "Processing..." } %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @blog, @blog.comments.build ] do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Blog List", blogs_path %>